<div class="footer-bottom">
    
      
    
        <div class=""  style="padding:5px">
    
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    
            <div class="copyright">
    
              © 2017, TechScan , All rights reserved
    
            </div>
    
          </div>
    
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    
            <div class="design">
    
                <a target="_blank" href="#">Web Design & Development by TechScan </a>
    
            </div>
    
          </div>
    
        </div>
    
     
    
    </div>