<div class="row">
  <div class="col-md-4">
      <div id="custom-search-input">
          <div class="input-group col-md-12">
              <input type="text" class="form-control input-lg" placeholder="Search"  [(ngModel)]="s" #search="ngModel" (keyup.enter)="onSearchEnter(search.value)" />
              <span class="input-group-btn">
                  <button class="btn btn-info btn-lg" type="button" (click)="onSearchEnter(search.value)">
                      <i class="fa fa-search"></i>
                  </button>
              </span>
          </div>
      </div>
  </div>
</div>
<div class="row">
  
  <div class="col-md-9">
    <div class="row  repo-list">
      <div class="col-md-8">

        <h4>{{total_count.toLocaleString()}} repository results</h4>
      </div>
      <div class="col-md-4">

        <select style="float:right;height:34px" class="form-control" (change)="onFilter($event.target.value)">
           <option value="">Best Match</option>
           <option  value="sort=stars&order=desc">Most Stars</option>
           <option value="sort=stars&order=asc">Fewest  Stars</option>
           <option value="sort=farks&order=desc">Most Forks</option>
           <option value="sort=stars&order=asc">Fewest Forks</option>
           <option value="sort=updated&order=desc">Recently updated</option>
           <option value="sort=updated&order=asc">Least recenntly updated</option>

         </select>

      </div>
    </div>

    <div class="row repo-list" *ngFor="let item of  items  | paginate: { itemsPerPage: 9, currentPage: p, totalItems: total_count }">
      <div class="col-md-8">
        <h3><a [routerLink]="['/users',item.owner.login]">{{item.full_name}}</a></h3>
        <p class="col-md-9">{{item.description}}</p>
        <p  class="col-md-9">last update {{ get_time_ago(item.updated_at)}}</p>
      </div>
      <div class="col-md-2">
        <span class="language-color" [ngStyle]="{'backgroundColor':get_color(item.language) }"></span> {{item.language}}
      </div>
      <div class="col-md-2"><i class="  fa fa-star-o" aria-hidden="true"></i>{{nFormatter(item.stargazers_count,1)}}</div>
    </div>

  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <pagination-controls (pageChange)="pageChanged($event)" maxSize="9"></pagination-controls>
</div>