<div class="row">
  <div class="col-md-3">
    <div>
      <img class="img-responsive img-rounded" src="{{user.avatar_url}}" style="max-width: 100%;">
    </div>
    <h3>{{user.name}}</h3>
    <p>{{user.login}}</p>
    <p>{{user.bio}}</p>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-6 " *ngFor="let repo of repos">
<div class="card">
        <a href="#" class="small_heading">{{repo.full_name}}</a>
        <p class="description">{{repo.description}}</p>
        <p class="f6">
          <a  class="mr1  ac1"><span class="language-color"  [ngStyle]="{'backgroundColor':get_color(repo.language) }"></span>{{repo.language}} </a>
          <a href="#" class="u_link mr1 ac1"><i class="  fa fa-star-o" aria-hidden="true"></i>{{repo.stargazers_count}}</a>
          <a href="#" class="u_link  mr1  ac1"><i class=" fa fa-code-fork" aria-hidden="true"></i>{{repo.forks_count}}</a>
        </p>
</div>
      </div>
    </div>

  </div>
</div>