/* You can add global styles to this file, and also import other style files */
.card{
   
     border: 1px #e1e4e8 solid !important;
     border-radius: 3px !important;
     margin-bottom: 15px;
     padding:10px;
    
}
.description{
    color: #586069 !important;
    margin-top: 8px !important;
    margin-bottom: 16px !important;
    display: block !important;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 12px
}
.small_heading{
    color: #0366d6;
    text-decoration: none;
    font-weight: 600 !important;
}
.language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.f6{
    font-size: 12px;
    color: #586069 ;

}
.u_link{
    text-decoration: none;
}
.u_link:hover{
    color: #0366d6  !important;
}
.mr1{
    margin-right: 5px;
}
.ac1{
   
    color: #586069 ;
}
