<div  class="row">
      <div class="col-md-9">
          <ul  class="home-menu col-md-10">
            <li><a [routerLink]="['/repo','Javascript']"><img src="../assets/img/js.svg" >Javascript</a></li>
            <li><a [routerLink]="['/repo','Java']"><img src="../assets/img/java.jpg" >Java</a></li>
            <li><a [routerLink]="['/repo','Python']"><img src="../assets/img/py.png" >Python</a></li>
            <li><a [routerLink]="['/repo','PHP']"><img src="../assets/img/php.png" >PHP</a></li>
           


          </ul>
      </div>
      <div class="col-md-3">
        <app-left-navigation></app-left-navigation>
      </div>

</div>
